.image_container {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
}

.skeleton_placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e2e2e2;
  background-image: linear-gradient(90deg, #e2e2e2 0%, #f2f2f2 50%, #e2e2e2 100%);
  background-size: 200% 100%;
  animation: loading-shimmer 1.5s infinite linear;
}

.hidden_image {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.visible_image {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}

@keyframes loading-shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
